

body {
    margin: 0 80px;
    text-align: center;
    color: white;
    background-color: black;
}

span {
    font-weight: normal;
    text-shadow: 0 0 10px #fff,  0 0 40px #7CFC00, 0 0 70px #7CFC00, 0 0 80px #7CFC00, 0 0 100px #7CFC00	, 0 0 150px #7CFC00;
    text-decoration: underline;
}

.verde{
    color:#7CFC00;
    text-decoration: none;
}

.til {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline;
    margin: 5vw 0;
    
    
}

.efect {
    box-shadow: 0 -20px 40px 30px inset  rgb(0, 0, 0);
}

.primeira-secao {
    background-image: url('img/capa-black.jpg');
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-size: cover;
    background-size: calc(100vw + 8vh);
    height: calc(10vw + 8vh);
}

.primeira-secao h1 {
    padding: 5vw ;
    font-size: 4vw;
    font-weight:calc(10vw + 8vh);
}

.conteudo {
    font-size: 20px;
    line-height: 40px;
    text-align: justify;
}

.segunda-secao {
    margin: 8% 20%;
}

.terceira-secao {

    height:auto;
    width: auto;
    background-image: url('img/new-fundo.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin: 10% 4%;
    

}

.citacao {
    font-style: italic;
    text-align: center;
    width: 45%;
    font-size: 3vw;
    padding: 1% 4%;
    font-weight: bold;

}

.quarta-secao {
    margin: 40px 0;

}

.quarta-secao img {
    width: calc(30vh + 10%);

}

.quarta-secao h2 {
    font-size: calc(2vw + 40%);
    margin: 40px;
}

.quarta-secao p {
    margin: 20px 0;
}

.botao {
    display: inline-block;
    margin: 1% 2%;
    
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.twitter {
    background-color: aqua;
    color: white;

}

.instagram {
    background-color: rgb(255, 106, 0);
    color: white;
    
}

.site {
    background-color: white;
    color:black;
    
}

.amazon {
    background-color: white;
    color: black;
}

.quinta-secao img {
    width: 400px;
    height: 400px;
}

.quinta-secao .conteudo {
    margin: 5% 20%;
}

.quinta-secao .conteudo , img{
    display: inline-block;
    font-size: 20px;
}




@media screen and (max-width: 600px) {

    body {
        margin: 0;
    }

    .primeira-secao {
       
        background-attachment: local;
    }

    .primeira-secao h1 {
        padding: 10%;
    }

    .conteudo {
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    }

    .quinta-secao img {
        width: 50%;
        height: auto;
        margin-top: 30px;
    }

    .til {
        font-size: 20px;
    }

    .quinta-secao .conteudo {
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    }

    .botao {
        display: block;
        margin: 10px 20%;
    }
   
}


