.secao-fundo {
    background-image: url(../../../public/assets/capa-black.jpg);
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-size: cover;
    background-size: calc(100vw + 8vh);
    height: calc(10vw + 8vh);
    box-shadow: 0 -20px 40px 30px inset  rgb(0, 0, 0);
    
}

.fundo-titulo{
    padding: 5vw ;
    font-size: 4vw;
    font-weight:calc(10vw + 8vh);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}

.effect{
    font-weight: normal;
    text-shadow: 0 0 10px #fff,  0 0 40px #7CFC00, 0 0 70px #7CFC00, 0 0 80px #7CFC00, 0 0 100px #7CFC00	, 0 0 150px #7CFC00;
    text-decoration: underline;
}


@media screen and (max-width: 600px){
    .secao-fundo{
        background-attachment: local;
    }
}
